#filter_menu .valgt {
  background-color: var(--color1_2);
  color: var(--color1_1);
}

#five_section #data {
  padding: 0;
}

#five_section nav {
  margin-bottom: 1rem;
}

.txt_kategori {
  margin-bottom: 1rem;
}

#filter_menu button {
  background-color: var(--color2_4);
  text-decoration: none;
  color: var(--color1_2);
  list-style: none;
  border: 5px solid var(--color2_4);
  border-radius: 25px;
  font-size: 1rem;
  font-family: "Faustina", serif;
  padding: 10px;
}
