html {
  /* Primary */
  --color1_1: #79a617;
  --color1_2: #000000;

  /* Secondary */
  --color2_1: #ffffff;
  --color2_2: #506e0f;
  --color2_3: #90b54f;
  --color2_4: #c7f26b;
  --color2_5: #b0f222;
  --color2_6: #ebebeb;

  /* Spacing */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  scroll-behavior: smooth;
  /* scroll-padding-top: 5rem;
  margin: 0rem; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--color2_1);
}

img,
video,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

main > section {
  grid-column: 2/3;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  margin-top: 3.5rem;
}

section {
  margin-bottom: var(--space-xxl);
}

.link_knap,
.knap,
header #menu a {
  text-decoration: none;
  background-color: var(--color2_4);
  color: var(--color1_2);
  list-style: none;
  border: 5px solid var(--color2_4);
  border-radius: 25px;
  font-size: 1rem;
  font-family: "Faustina", serif;
  padding: 10px;
  cursor: pointer;
}

#filter_menu button:hover,
.link_knap:hover,
.knap:hover,
header #menu a:hover,
.arrow_top:hover {
  opacity: 0.5;
}

.logo {
  width: 10rem;
  display: inline-block;
  padding: 0;
  margin: 0;
}

header .logo img {
  padding: 1rem 2rem 0rem 0rem;
}

header {
  background-color: var(--color2_6);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  padding: 0rem 1rem 0rem 1rem;
}

h1 {
  font-size: 2.5rem;
  font-family: dunbar-low, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--color1_2);
  background: var(--color2_6);
  border-radius: 9rem;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  opacity: 0.9;
}

h2 {
  font-size: 2rem;
  font-family: terfens, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: var(--space-xs);
}

h3 {
  font-size: 1.5rem;
  font-family: terfens, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: var(--space-xs);
}

p {
  font-size: 1rem;
  font-family: "Faustina", serif;
  padding-bottom: var(--space-md);
}

hr {
  border-top: 1px solid var(--color1_2);
}

footer {
  background-color: var(--color2_6);
  display: flex;
  justify-content: center;
}

footer section {
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  display: flex;
  flex-direction: column;
}

footer img,
footer p {
  padding: 0;
}

.logo_footer img {
  width: 10rem;
}

.so_me_icon {
  display: flex;
  gap: 10%;
}

.so_me_icon img {
  width: 2rem;
  padding: 2rem 0rem 2rem 0rem;
}

.kontakt_footer img {
  width: 2rem;
}

.kontakt_footer a {
  color: var(--color1_2);
}

.telefon {
  display: flex;
  gap: var(--space-lg);
  align-items: center;
  padding-bottom: 0.5rem;
}

.mail {
  display: flex;
  gap: var(--space-lg);
  align-items: center;
}

aside {
  display: flex;
  justify-content: center;

  position: sticky;
  bottom: 0;
  padding: 0.8rem 1rem;
  margin: 0;
  gap: 1.25rem;
}

/* .arrow_top {
  display: flex;
  justify-content: right;
  place-self: end;
} */

aside .arrow_top img {
  padding: 0rem;
  width: 4rem;
}

aside .arrow_top {
  padding: 0;
  margin: 0;
}

/* Burgermenu start */

/* #menu (Den Gule) */

#menu {
  position: absolute;

  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  background-color: var(--color2_3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 1.2rem;
  list-style: none;
  gap: 1rem;

  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97);
}

#menu.hide {
  transition-delay: 500ms;
}

#menu.open {
  transform: translateX(0);
}

#menu a {
  font-family: sans-serif;
  color: var(--color1_2);
  font-weight: 700;
  font-size: 1.7rem;
  display: block;
  transition: transform 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97),
    opacity 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97);
}

#menu #galleri {
  transition-delay: 400ms;
}

#menu #kort {
  transition-delay: 450ms;
}

#menu #om_os {
  transition-delay: 500ms;
}

#menu.hide #galleri {
  transition-delay: 0ms;
}

#menu.hide #kort {
  transition-delay: 50ms;
}

#menu.hide #om_os {
  transition-delay: 100ms;
}

#menu.hide a {
  transform: translateX(-70px);
  opacity: 0;
}

/* #burger_btn (Den blå) */

#burger_btn {
  width: 40px;
  height: 40px;
  position: relative;
}

.stroke {
  width: 100%;
  height: 3px;
  position: absolute;
  top: calc(50% - 1.5px);
  left: 0;
  background-color: var(--color1_1);
}

.stroke.top {
  transform: translateY(-10px);
}

.stroke.bottom {
  transform: translateY(10px);
}

/* #burger_btn OPEN / Hide*/

#burger_btn.open .stroke {
  animation-duration: 1s;
  animation-fill-mode: both;
}

#burger_btn.open .stroke.top {
  animation-name: kf_stroke_top;
}

#burger_btn.open .stroke.center {
  animation-name: kf_stroke_center;
}

#burger_btn.open .stroke.bottom {
  animation-name: kf_stroke_bottom;
}

#burger_btn.hide .stroke {
  animation-direction: reverse;
  animation-duration: 1s;
  animation-fill-mode: both;
}

#burger_btn.hide .stroke.top {
  animation-name: kf_stroke_top;
}

#burger_btn.hide .stroke.center {
  animation-name: kf_stroke_center;
}

#burger_btn.hide .stroke.bottom {
  animation-name: kf_stroke_bottom;
}

/* Keyframes */

@keyframes kf_stroke_center {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes kf_stroke_top {
  0% {
    transform: translateY(-12px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  50% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  100% {
    transform: translateY(0px) rotate(45deg);
  }
}

@keyframes kf_stroke_bottom {
  0% {
    transform: translateY(12px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  50% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  100% {
    transform: translateY(0px) rotate(-45deg);
  }
}

@media screen and (min-width: 650px) {
  /* menu start */
  #burger_btn {
    display: none;
  }

  #menu {
    position: unset;
    width: 21rem;
    height: 5rem;
    background-color: transparent;
    flex-direction: row;
    gap: 2rem;
  }

  #menu.hide {
    transform: translateX(0);
  }

  #menu.hide a {
    transform: translateX(0);
    opacity: 1;
  }
  /* menu end */

  footer section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-md);
    margin: var(--space-xl);
  }

  .so_me_icon img {
    width: 2rem;
    padding: 0;
  }
}
