.fonts {
  font-family: terfens, sans-serif;
  font-weight: 400;
  font-style: normal;

  font-family: terfens, sans-serif;
  font-weight: 700;
  font-style: normal;

  font-family: dunbar-low, sans-serif;
  font-weight: 400;
  font-style: normal;

  font-family: dunbar-low, sans-serif;
  font-weight: 700;
  font-style: normal;

  font-family: "Faustina", serif;
}

html {
  /* Primary */
  --color1_1: #79a617;
  --color1_2: #000000;

  /* Secondary */
  --color2_1: #ffffff;
  --color2_2: #506e0f;
  --color2_3: #90b54f;
  --color2_4: #c7f26b;
  --color2_5: #b0f222;
  --color2_6: #ebebeb;

  /* Spacing */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  /* scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  margin: 0rem; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--color2_1);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  padding-bottom: var(--space-md);
  padding-top: var(--space-xl);
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

main > section {
  grid-column: 2/3;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}

section {
  padding: var(--space-lg);
}

.link_knap,
.knap {
  text-decoration: none;
  background-color: var(--color2_4);
  list-style: none;
  border: 5px solid var(--color2_4);
  border-radius: 25px;
  font-size: 1rem;
  font-family: "Faustina", serif;
  padding: 10px;
}

.logo {
  width: 10rem;
  display: inline-block;
}

.so_me_icon {
  display: flex;
  gap: 10%;
}

.arrow_top {
  display: flex;
  justify-content: right;
}

header {
  background-color: var(--color2_6);
  position: sticky;
  top: 0;
  left: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

h1 {
  font-size: 2.5rem;
  font-family: dunbar-low, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 2rem;
  font-family: terfens, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-size: 1.5rem;
  font-family: terfens, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-size: 1rem;
  font-family: "Faustina", serif;
  padding-bottom: var(--space-md);
}

footer {
  background-color: var(--color2_6);
  padding: var(--space-xl);
}

/* Burgermenu start */

/* #menu (Den Gule) */

#menu {
  /* position: absolut gør elementets placerering relativt til den nærmeste parent som ikke har position: static (static er default på alle elementer). Her er den relativ ifht "header", da den er position: sticky.  */
  position: absolute;

  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  background-color: var(--color2_3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  list-style: none;

  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97);
}

#menu.hide {
  transition-delay: 500ms;
}

#menu.open {
  transform: translateX(0);
}

#menu a {
  font-family: sans-serif;
  color: var(--color1_2);
  font-weight: 700;
  font-size: 1.7rem;
  display: block;
  transition: transform 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97),
    opacity 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97);
}

#menu #galleri {
  transition-delay: 400ms;
}

#menu #kort {
  transition-delay: 450ms;
}

#menu #om_os {
  transition-delay: 500ms;
}

#menu.hide #galleri {
  transition-delay: 0ms;
}

#menu.hide #kort {
  transition-delay: 50ms;
}

#menu.hide #om_os {
  transition-delay: 100ms;
}

#menu.hide a {
  transform: translateX(-70px);
  opacity: 0;
}

/* #burger_btn (Den blå) */

#burger_btn {
  width: 40px;
  height: 40px;
  position: relative;
}

.stroke {
  width: 100%;
  height: 3px;
  position: absolute;
  top: calc(50% - 1.5px);
  left: 0;
  background-color: var(--color1_1);
}

.stroke.top {
  transform: translateY(-10px);
}

.stroke.bottom {
  transform: translateY(10px);
}

/* #burger_btn OPEN / Hide*/

#burger_btn.open .stroke {
  animation-duration: 1s;
  animation-fill-mode: both;
}

#burger_btn.open .stroke.top {
  animation-name: kf_stroke_top;
}

#burger_btn.open .stroke.center {
  animation-name: kf_stroke_center;
}

#burger_btn.open .stroke.bottom {
  animation-name: kf_stroke_bottom;
}

#burger_btn.hide .stroke {
  animation-direction: reverse;
  animation-duration: 1s;
  animation-fill-mode: both;
}

#burger_btn.hide .stroke.top {
  animation-name: kf_stroke_top;
}

#burger_btn.hide .stroke.center {
  animation-name: kf_stroke_center;
}

#burger_btn.hide .stroke.bottom {
  animation-name: kf_stroke_bottom;
}

/* Keyframes */

@keyframes kf_stroke_center {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes kf_stroke_top {
  0% {
    transform: translateY(-12px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  50% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  100% {
    transform: translateY(0px) rotate(45deg);
  }
}

@keyframes kf_stroke_bottom {
  0% {
    transform: translateY(12px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  50% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  100% {
    transform: translateY(0px) rotate(-45deg);
  }
}
