form {
  display: grid;
  gap: var(--space-xxs);

  width: 100%;
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}

form .link_knap {
  margin-top: var(--space-xs);
  text-align: center;
}

.form-felt {
  display: grid;
}

label {
  width: 0;
  height: 0;
}
/* Til kontaktformular */
input,
textarea {
  border-radius: var(--space-xs);
  font-size: 1rem;
  font-family: "Roboto slab";

  padding-left: var(--space-xl);
  grid-area: 1/1;
}

#seven_section button {
  border: none;
  border-radius: 0.5rem;
  color: var(--color2_1);
  background: var(--color1_2);
  font-family: "Rubik";
  font-size: 1.5rem;
  cursor: pointer;
}

#seven_section .col_right img {
  height: auto;
  width: 2rem;
  grid-area: 1 / 1;
  z-index: 10;
  margin-top: 0.2rem;
  margin-left: var(--space-xs);
}

#popup {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #00000099;
  position: fixed;
  top: 0;
  padding: 2% 10% 0 10%;
  overflow: scroll;
  z-index: 1001;
  margin: 0;
}

#popup article {
  background-color: white;
  display: grid;
  place-items: center;
  border-radius: 2rem;
  margin-top: 5rem;
}

#popup button:first-child {
  font-size: 1.5rem;
  display: flex;
}

.knap {
  margin-top: 1rem;
}

@media (min-width: 600px) {
  main {
    grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  }

  .col_right {
    display: flex;
    justify-content: center;
  }

  form {
    width: 50%;
  }
}
