#back_knap img {
  width: 3rem;
  height: 3rem;
  padding: 10%;
}

.single_info img,
.mere_salg img {
  width: 250%;
  max-height: 60%;
  object-fit: cover;
}
/* Linjeopdeler */
hr {
  margin-top: 3rem;
}

.flere_forslag h2 {
  margin-top: 2rem;
}

@media screen and (min-width: 650px) {
  .single_info {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
  }

  .single_info img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
    padding: 0;
  }

  .single_info hr {
    border: 0;
    border-top: 1px solid var(--color1_2);
    margin-top: 2rem;
  }
}

@media (min-width: 720px) {
  main {
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  }

  .single_info h2 {
    font-size: 1rem;
  }

  .flere_forslag {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .flere_forslag img {
    width: 100%;
    height: 70%;
  }
}
