@media (min-width: 720px) {
  main {
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  }

  .menu h2 {
    font-size: 1.5rem;
  }

  .flere_forslag {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}
